// Custom Colors
$primary-color: #3498db;
$warning-color: #f39c12;
$danger-color: #e74c3c;
$success-color: #2ecc71;

.ben-bmi-calculator {
    background-color: #d7b4f6;
    background-image: url('/public/img/kalkulator-bmi.png');
    background-position: bottom right;
    background-size: cover;
    padding: 20px;
    border-radius: 1.4em;
    width: 100%;

    .ben-text-result {
      margin-top: 10px;

      &.underweight {
        color: $warning-color;
      }

      &.normal-weight {
        color: $success-color;
      }

      &.overweight {
        color: $primary-color;
      }

      &.obesity1 {
        color: $warning-color;
      }

      &.obesity2 {
        color: $danger-color;
      }

      &.extreme-obesity {
        color: $danger-color;
      }
    }
}